html {
  overflow-y: auto !important;

  &.hide-scroll {
    overflow-y: hidden !important;
  }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0.4px;
  font-feature-settings: 'pnum' on, 'lnum' on;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a,
p {
  font-size: 1rem;
  line-height: 1.2;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 999999s 0s, color 999999s 0s;
}

input[data-autocompleted] {
  background-color: transparent !important;
}

.bold {
  font-weight: 700;
}

.w500 {
  font-weight: 500;
}

.w600 {
  font-weight: 600;
}

.w700 {
  font-weight: 700;
}

.gap-8 {
  display: flex;
  gap: 8px;
}

.full {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
